@{
  Layout = "_Layout";
}

@model DoctorsOffice.Models.Doctor

<h2>Edit</h2>

<h4>Edit this doctor's information: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.DoctorId)

  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)
  
  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Add a specialty for this doctor", "AddSpecialty", new {id = Model.DoctorId})</p>
<p>@Html.ActionLink("Back To List of Doctors", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>