@{
  Layout = "_Layout";
}

@model DoctorsOffice.Models.Patient

<h4>Add a new Patient</h4>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)

    @Html.LabelFor(model => model.Birthdate)
    @Html.TextBoxFor(model => model.Birthdate)

    @Html.LabelFor(model => model.Phone)
    @Html.TextBoxFor(model => model.Phone)
    
    @Html.Label("Add a doctor")
    @Html.DropDownList("DoctorId")

    <input type="submit" value="Add new Patient" class="btn btn-default" />
}

<br>
<div id="nav-links">
  <p>@Html.ActionLink("Back to List of Patients", "Index")</p>
  <!-- <p>@Html.ActionLink("Home", "Index", "Home")</p> -->
</div>